:root {
    --coral: #F05D5E;
    --teal: #0F7173;
    --light: #E7ECEF;
    --dark: #272932;
    --camel: #D8A47F;
}

/* html {
    font-size: 100%;
  } */

body {
    background-color: var(--light);
}

.h1 {
    font-size: 10px;
}

.p {
    font-size: 2.25rem;
}

.card {
    border: 3px;
    border-style:solid;
    border-color:black;
    padding: 10px;
    margin: 10px;
}

img {
    width: 250px;
}

.card-container {
    border: 4px;
    border-style:solid;
    border-color:blueviolet;
    display: flex;
    flex-wrap: wrap;
}